.item-container {
  width: 100% !important;
  background-color: #ffffff !important;
  
}

.item-row {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 2rem !important;
}

.item {
  position: relative !important;
  cursor: pointer !important;
  flex: 0 1 calc(25% - 10px) !important;
  padding: 10px !important;
  text-align: center !important;
  border: 1px solid #ced4da !important;
  border-radius: 12px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  background-color: #fff !important;
  transition: background-color 0.3s ease !important;
}

.item-dots {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  cursor: pointer !important;
}

.item:hover {
  background-color: #f1f1f1 !important;
}

.dropdown-menu {
  position: absolute !important;
  top: 30px !important;
  right: 10px !important;
  background: white !important;
  border: 1px solid #ccc !important;
  display: none !important;
  flex-direction: column !important;
  z-index: 1000 !important;
}

.dropdown-menu.show {
  display: flex !important;
}

.dropdown-item {
  padding: 10px !important;
  cursor: pointer !important;
}

.dropdown-item:hover {
  background: #f0f0f0 !important;
}

.item-name.scrolling {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 100% !important;
  display: inline-block !important;
}

.items-count {
  font-size: 0.9em !important;
  color: #888 !important;
}
.item-title{
  margin-left: 1rem;
}