body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background color for the whole page */
    overflow: hidden;
}


.editor-container {
  padding:1em;
  width: 100%; /* Adjust width as needed */
    background-color: rgb(236, 236, 236); /* White background for the editor */
    position: relative; /* Ensure positioning context for child elements */
    overflow: hidden;
    
}

.ql-editor {
  background-color: white; /* White background for the editor */
  margin-left: 20%; /* Adjust the margin to center content */
  margin-right: 20%; /* Adjust the margin to center content */
  min-height: 85vh; /* Minimum height of the editor area */
  max-height: 85vh; /* Maximum height of the editor area */
  font-size: 1.2em; /* Larger text size */
  padding: 4em; /* Padding inside the editor */
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for the editor */
  text-align: justify; /* Justify text */
  text-justify: inter-word; /* Adjust for inter-word spacing */
  scroll-behavior: smooth;
  cursor: text; /* Set cursor to text */
}