.navbar-buttons {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  margin-left: 2rem;
}

.navbar-nav .navbar-item {
  margin-left: 0.5rem;
}

.navbar-nav .navbar-item .btn {
  display: flex;
  flex-direction: column;
  align-items: left; 
  padding: 10px;
  width: 140px;
  height: 80px;
  font-size: 1rem;
  border: 2px solid #000000;
}

.btn-create-file {
  background-color: #000 !important;
  color: #fff !important;
}

.btn-create-file:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.btn-create-file .icon {
  font-size: 2rem;
}

.navbar-nav .navbar-item span {
  margin-top: 5px;
  text-align: center;
}
